In [25]:
import pandas as pd
import numpy as np
import sklearn as sk

from statsmodels.stats.outliers_influence import variance_inflation_factor

In [18]:
from sklearn.datasets import load_boston
boston = load_boston()

In [19]:
boston = pd.DataFrame(boston.data, columns=boston.feature_names)

In [20]:
boston

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [26]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(
    boston.values, i) for i in range(boston.shape[1])]
vif["features"] = boston.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

    VIF Factor features
0     1.152952     CHAS
1     2.100373     CRIM
2     2.844013       ZN
3    11.102025    LSTAT
4    14.485758    INDUS
5    14.699652      DIS
6    15.167725      RAD
7    20.104943        B
8    21.386850      AGE
9    61.227274      TAX
10   73.894947      NOX
11   77.948283       RM
12   85.029547  PTRATIO

In [ ]:
# 결과값을 저장할 VIF라는 이름의 리스트 생성

vif = []



# values atribution(속성) 이용해 train 데이터의 값만 추출

train_val = train.values



#  variance_inflation_factor 함수에 인자로 train_val (train 데이터의 값)과 인덱스 번호 지정  

# for문 이용

for i in range(len(train.columns)):

  vif.append(variance_inflation_factor(train_one.values, i))